.title {
  text-align: center;
}
.description {
  color: red;
  text-align: center;
}
a {
  display: block;
  margin: 10px 0;
  color: #fff;
  background-color: #000;
  padding: 8px 10px;
  width: fit-content;
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: 5px;
}
.btn {
  width: fit-content;
}
label {
  display: block;
  font-size: 16px;
  margin-top: 10px;
}
input,
textarea {
  font-size: 18px;
  padding: 4px 10px;
  width: 96%;
}
button {
  margin: 10px 0;
  color: #fff;
  background-color: #000;
  padding: 8px 0;
  width: 100%;
  border: none;
  outline: none;
}

.button {
  width: 75px;
  border-radius: 5px;
  padding: 10px;
}
.mx-auto {
  width: 40%;
  margin: auto auto;
}
.post-box {
  border: 1px solid black;
  padding: 10px 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post-title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}
.details h1 {
  text-align: center;
  margin: 20px 0;
}
.details .image {
  width: 60%;
  height: 450px;
  overflow: hidden;
  margin: 0 auto;
}

.details p {
  font-size: 17px;
}

.homePage {
  margin: 15px;
}

.post-desc {
  font-size: 19px;
  font-weight: bold;
  text-align: center;
}

.n-btn {
  margin: 0 auto;
}

.button-st {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  align-items: center;
}
